<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->




<!-- JAVASCRIPT -->
<script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/libs/simplebar/simplebar.min.js"></script>
<script src="/libs/node-waves/waves.min.js"></script>
<script src="/libs/feather-icons/feather.min.js"></script>
<script src="/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="/js/plugins.js"></script>

<!-- apexcharts -->
<script src="/libs/apexcharts/apexcharts.min.js"></script>

<!-- Vector map-->
<script src="/libs/jsvectormap/js/jsvectormap.min.js"></script>
<script src="/libs/jsvectormap/maps/world-merc.js"></script>

<!--Swiper slider js-->
<script src="/libs/swiper/swiper-bundle.min.js"></script>

<!-- Dashboard init -->
<script src="/js/pages/dashboard-ecommerce.init.js"></script>

<!-- App js -->
<script src="/js/app.js"></script>
</body>


</html>