<!-- container-fluid -->

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">All New Order</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Orders</a></li>
                        <li class="breadcrumb-item active">New Orders</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->



    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">New Orders</h4>
                    <div class="flex-shrink-0">
                        <button class="btn btn-primary" onclick="window.history.back()"><i
                                class="ri-arrow-go-back-fill"></i> Back</button>
                    </div>
                </div>
                <div class="card-body  table-responsive">
                    <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Order ID</th>
                                <th>Customer</th>
                                <th>Status</th>
                                <th>Pickup</th>
                                <th>Delivery</th>
                                <th>Weight</th>
                                <th>Date</th>
                                <th>Assigned Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>ORD-098</td>
                                <td>Olunloyo Ridwan</td>
                                <td><span class="badge bg-danger">Waiting for a Driver</span></td>
                                <td><i class="ri-navigation-fill"></i> Obalende, Lagos</td>
                                <td><i class="ri-map-pin-fill"></i> Ikeja, Lagos</td>
                                <td>300KG</td>
                                <td>23 Aug. 2024</td>
                                <td><span class="badge bg-danger">Not Assigned</span></td>
                                <td>
                                    <div class="dropdown d-inline-block">
                                        <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill align-middle"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <button type="button" class="dropdown-item btn btn-primary" data-bs-toggle="modal" data-bs-target="#zoomInModal"><i
                                                class="ri-ship-line align-bottom me-2 text-muted"></i>
                                            Assign Order
                                        </button>

                                            <li><a href="/order/:id" class="dropdown-item"><i
                                                        class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                                    View Order</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>



                            <!-- Modal Blur -->
                            <div id="zoomInModal" class="modal fade zoomIn" tabindex="-1" aria-labelledby="zoomInModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="zoomInModalLabel">Assign Order
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <p><b>Order No:</b> VNO-232</p>
                                                    <p><b>Customer Name:</b> Olunloyo Mujeeb</p>
                                                    <p><b>Location: </b> <i class="ri-navigation-fill"></i> Obalende, Lagos. | <i class="ri-map-pin-fill"></i> Ikeja, Lagos</p>
                                                    <p><b>Weight:</b> 300KG</p>
                                                </div>
                                                <div class="col-md-7">
                                                    <img src="/images/pakage.jpg" alt="" width="100%">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h5>Assign Order to:</h5>
                                                <form action="" method="POST">

                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="rider_id" class="form-label">Rider ID</label>
                                                            <input type="text" class="form-control" id="rider_id" name="rider_id" placeholder="RID-234" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="mb-3">
                                                            <button type="button" class="btn btn-primary btn-lg ">Assign  Order</button>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>

                                        </div>

                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->







</div>
<!-- container-fluid -->