<!-- container-fluid -->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">New Vehicle</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicle</a></li>
                        <li class="breadcrumb-item active">New Vehicle</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">New Vehicle</h4>
                    <div class="flex-shrink-0">
                        <button class="btn btn-primary" onclick="window.history.back()"><i
                                class="ri-arrow-go-back-fill"></i> Back</button>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Vehicle Information</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="vehicleName">Vehicle Name <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="vehicleName" name="vehicleName" placeholder="e.g., Toyota HiAce" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="vehicleName">Category<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="vehicleCategory" name="vehicleCategory" placeholder="e.g., Van, Truck, Motorcycle" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="vin">Vehicle Identification Number <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="vin" name="vin" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="color">Color<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="color" name="color" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h5>Registration Details </h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="platenumber">License Plate Number <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="platenumber" name="platenumber" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="regstate">Registration State/Country<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="regstate" name="regstate" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="regExpDate">Registration Expiry Date <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="regExpDate" name="regExpDate" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="insuranceExpDate">Insurance Expiry Date<span
                                                        class="text-danger"></span></label>
                                                <input type="text" class="form-control" id="insuranceExpDate" name="insuranceExpDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <h5>Capacity and Dimensions </h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="sittingCap">Seating Capacity<span
                                                        class="text-danger"></span></label>
                                                <input type="number" class="form-control" id="sittingCap" name="sittingCap">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="cargoCap">Cargo Capacity<span
                                                        class="text-danger"></span></label>
                                                <input type="text" class="form-control" id="cargoCap" name="cargoCap" placeholder="100KG" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <h5>Owner and Operator Information</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="ownerName">Owner Name
                                                    <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="ownerName" name="ownerName" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="vehiclePhoto">Photos of the Vehicle
                                                    <span class="text-danger">*</span></label>
                                                <input type="file" class="form-control" id="vehiclePhoto" name="vehiclePhoto" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="status">Documents
                                                    <span class="text-danger">*</span></label>
                                                <textarea class="form-control" rows="12" name="vehicleDocs" id="" required placeholder="Upload scanned copies of important documents (e.g., registration papers, insurance certificate)"></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mt-3">
                                        <button name="RegisterVehicle" class="btn btn-primary btn-block col-12 btn-lg"> Add New
                                            Vehicle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




</div>
<!-- container-fluid -->