<!-- container-fluid -->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Update Driver</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Driver</a></li>
                        <li class="breadcrumb-item active">Update Driver</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Update Driver Account</h4>
                    <div class="flex-shrink-0">
                        <button class="btn btn-primary" onclick="window.history.back()"><i
                                class="ri-arrow-go-back-fill"></i> Back</button>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Personal Information</h5>
                                <div class="row">
                                    <div class="mb-3">
                                        <div class="form-group">
                                            <label for="name">Fullname <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="name" name="fullname" value="Olatunde Soliu" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="email">Email <span
                                                        class="text-danger">*</span></label>
                                                <input type="email" class="form-control" id="email" name="email" value="solasdd@gmail.com" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="phone">Phone No <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="phone" value="+234908766553" name="phone" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="phone">Address (Residential) <span
                                                        class="text-danger">*</span></label> <textarea class="form-control" name="address" id="address" rows="5">Lane 43, No. 5 Obalende Area, agos</textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Emergency Contact Information (Name, Relationship, Phone Number)
                                </h5>
                                <div class="row">
                                    <div class="mb-3">
                                        <div class="form-group">
                                            <label for="emergency_fullname">Fullname <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" value="Olatunde mujeeb" id="emergency_fullname" name="emergency_fullname" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="relationship">Relationship <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="relationship" value="Sister" name="relationship" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="emmergence_phone">Phone No <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="emmergence_phone" name="emmergence_phone" value="+23480997733" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <h5>Identity Verification:</h5>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name">Government-Issued ID <span
                                                        class="text-danger">*</span></label>
                                                <select class="form-control" name="kyc_id" id="kyc_id" required>
                                                    <option value="">SELECT</option>
                                                    <option value="NIN">NIN (National Identification
                                                        No.)</option>
                                                    <option value="PVC">PVC (Voter's Card)</option>
                                                    <option value="driver">Driving Licence</option>
                                                    <option value="intPassport">International Passport
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name">ID Number <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="idNumber" name="idNumber" value="69957432423" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name">ID Expiry Date <span
                                                        class="text-danger">*</span></label>
                                                <input type="date" class="form-control" id="idExpire" value="03/04/2028" name="idExpire" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="idDocument">Upload a clear copy of ID
                                                    <span class="text-danger">*</span></label>
                                                <input type="file" class="form-control" id="idDocument" name="idDocument" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="passport">Recent passport (150px by 150px)
                                                    <span class="text-danger">*</span></label>
                                                <input type="file" class="form-control" id="passport" name="passport" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name">About Me <span class="text-danger">*</span></label>
                                                <textarea name="aboutme" id="aboutme" rows="5" class="form-control" placeholder="e.g Consent to Background Check, Criminal Record (if applicable), Reference Contacts (for verification)" required>...</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <h5>Account Information</h5> -->
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name">Username<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="username" name="username" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name">Password <span class="text-danger">*</span></label>
                                                <input type="password" class="form-control" id="password" name="password" required>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-12 mt-3">
                                        <button name="updateDriver" class="btn btn-primary btn-block col-12 btn-lg"> Update Driver Account</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




</div>
<!-- container-fluid -->